{
  "branches": [
    "main"
  ],
  tagTemplate: "v${version}-live",
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",

    [
      "@semantic-release/git",
      {
        "assets": [
          "VERSION"
        ],
        "message": "chore(release): ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
      }
    ]
  ]
}